@import '~stylesheets/vars';
@import '~stylesheets/mixins';

.button {
  @include reverse-bg;
  color: $color-reverse;

  display: inline-block;
  padding: 0.666666667em 1em;
  font-size: 1.1111111111111112em;
  line-height: 1.35em;
  font-weight: 900;
  font-family: $font-family;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-extra;
    text-decoration: none;
  }
}
