// typography
$font-family: 'Lato', Arial, serif;
$font-header: 'Merriweather', Georgia, serif;
$font-family-icons: 'fontello', sans-serif;
$font-size-base: 1em;
$line-height-base: 1.5em;

// colors
$color-base: #3d3d3d;
$color-alt: #111;

$color-reverse: #fff;
$color-reverse-alt: #eee;

$color-extra: #972f38;

// break points
$break-point-l: 1300px;
$break-point-m: 700px;
