@import '~stylesheets/vars';

.tag-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: block;
    margin: 0 1em;

    &--active {
      color: $color-extra;
    }
  }
}
