@import '~stylesheets/vars';

.post-wrapper {
  // margin-bottom: 4.5em;
}

.post {
  padding: 1.5em 0;

  &__image {
    margin-bottom: 2.5em;
  }

  &__title {
    margin-bottom: 0;
  }

  &__published {
    color: #999;
  }

  img + em {
    text-align: center;
    display: block;
    margin-top: -1.5em;
  }

  .emojione {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }

  @media (min-width: $break-point-m) {
    p {
      text-align: justify;
    }
  }
}

.post-author-item {
  padding-bottom: 1.5em;
}
